@use 'variables';

#game-container {
    background-size: 100% 100%;
    margin: auto;
    position: relative;
    box-shadow: 2px 10px 10px grey;

    #header {
        height: 40px;
        position: fixed;
    }
    
    .gameHeaderStyle {
        text-shadow: 2px 2px 1px variables.$secondary-color;
        color: variables.$primary-color;
    }
    
    #game-paused {
        position: fixed;
        top: 40%;
        left: 50%;
        translate: -50% -50%;
    }
    
    .gameHeaderHeader{
        color:red;
    }
    
    .gameHeaderSubHeader{
        color: variables.$primary-color;
    }

}