@use 'variables';
@use 'functions';

#game-container {
    background-size: 100% 100%;
    margin: auto;
    position: relative;
    box-shadow: functions.px-rem(2px) functions.px-rem(10px) functions.px-rem(10px) grey;

    #header {
        height: functions.px-rem(40px);
        position: fixed;
    }
    
    .gameHeaderStyle {
        text-shadow: functions.px-rem(2px) functions.px-rem(2px) functions.px-rem(1px) variables.$secondary-color;
        color: variables.$primary-color;
    }
    
    #game-paused {
        position: fixed;
        top: 40%;
        left: 50%;
        translate: -50% -50%;
    }
    
    .gameHeaderHeader{
        color:red;
    }
    
    .gameHeaderSubHeader{
        color: variables.$primary-color;
    }

}