@use 'variables';
@use 'config';

#splash {
    height: fit-content;
    position: absolute;
    top: 40%;
    left: 50%;
    translate: -50% -40%;
    text-align: center;

    #game-title {
        font-size: variables.$font-size-large;
        width: min-content;
    }
    
    #play-game-button {
        background: variables.$primary-color;
        border-radius: 20%;
        width: min-content;
        color: variables.$secondary-color;
        margin: auto;
        font-size: variables.$font-size-med;
        padding: 0% 8% 5%;
        position: absolute;
        bottom: -30%;
        left: 50%;
        translate: -50% 0%;

            &:hover {
                @include config.button-hover-style;
            }
            &:active {
                position: variables.$position;
                @include config.active-btn-position("playGame");
                translate: variables.$translate;
            }
    }
    
    #how-to-play-button {
        background: variables.$primary-color;
        border-radius: 20%;
        width: 60%;
        color: variables.$secondary-color;
        margin: auto;
        padding: 0% 8% 5%;
        position: absolute;
        bottom: -10%;
        left: 50%;
        translate: -50% 0%;

            &:hover {
                @include config.button-hover-style;
            }
            &:active {
                position: variables.$position;
                @include config.active-btn-position("howTo");
                translate: variables.$translate;
            }
    }
}