$primary-color: rgb(128, 0, 85);
$secondary-color: pink;
$bg-color: rgb(234, 255, 255);
$hover-bg-color: rgb(100, 0, 67);
$hover-txt-color: rgb(255, 210, 210);

$comic-font: "Comic Sans MS", "Comic Sans", cursive;
$font-size-large: 4.5rem;
$font-size-med: 2rem;

$position: absolute;
$translate: -50% 0%;