#how-to-container {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 40%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
}

#how-to-title {
    font-size: 2.6em;
    width: 100%;
}

.how-to-style {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

p.how-to-style {
    font-size: .9em;
}

#main-menu-button {
    background: rgb(128, 0, 85);
    border-radius: 20%;
    width: 90%;
    color: pink;
    margin: auto;
    font-size: 1.5em;
    padding: 0% 8% 5%;
    position: absolute;
    bottom: -10%;
    left: 50%;
    translate: -50% 0%;
}

#main-menu-button:hover {
    background: rgb(100, 0, 67);
    color: rgb(255, 210, 210);
}

#main-menu-button:active {
    position: absolute;
    bottom: -11%;
    left: 51%;
    translate: -50% 0%;
}