body {
    margin: 0;
    padding: 0;
    height: 0px;
    background: lightblue;
}
#header {
    height: 40px;
    position: fixed;
}

#game-container {
    background: pink;
    outline: 1px solid brown;
    margin: auto;
    position: relative;
}

#game-paused {
    position: fixed;
    
}
#end-zone {
    height: 158px;
    width: 100%;
    background: brown;
    position: absolute;
    bottom: 0;
}



#window-size-warning{
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%
}
