body {
    margin: 0;
    padding: 0;
    height: 0px;
    background: rgb(234, 255, 255);
    user-select: none;
}
#header {
    height: 40px;
    position: fixed;
}

.gameHeaderStyle {
    text-shadow: 2px 2px 1px pink;
    color: rgb(128, 0, 85);
}

#game-container {
    background-size: 100% 100%;
    margin: auto;
    position: relative;
    box-shadow: 2px 10px 10px grey;
}

#game-paused {
    position: fixed;
    top: 40%;
    left: 50%;
    translate: -50% -50%;
}

.gameHeaderHeader{
    color:red;
}

.gameHeaderSubHeader{
    color:rgb(128, 0, 85);
}

.comicSans30bold{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 1rem;
    font-weight: bold;
}

h2.comicSans30bold {
   font-size: 1.7em; 
}

h3.comicSans30bold {
     color: rgb(100, 0, 67);
     margin-top: 12%;
 }

#window-size-warning{
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%
}

#splash {
    height: fit-content;
    position: absolute;
    top: 40%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
}

#game-title {
    font-size: 4.5em;
    width: min-content;
}

#how-to-container {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 40%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
}

#how-to-title {
    font-size: 2.6em;
    width: 100%;
}

.how-to-style {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

p.how-to-style {
    font-size: .9em;
}

#main-menu-button {
    background: rgb(128, 0, 85);
    border-radius: 20%;
    width: 90%;
    color: pink;
    margin: auto;
    font-size: 1.5em;
    padding: 0% 8% 5%;
    position: absolute;
    bottom: -10%;
    left: 50%;
    translate: -50% 0%;
}

#main-menu-button:hover {
    background: rgb(100, 0, 67);
    color: rgb(255, 210, 210);
}

#main-menu-button:active {
    position: absolute;
    bottom: -11%;
    left: 51%;
    translate: -50% 0%;
}

#play-game-button {
    background: rgb(128, 0, 85);
    border-radius: 20%;
    width: min-content;
    color: pink;
    margin: auto;
    font-size: 2em;
    padding: 0% 8% 5%;
    position: absolute;
    bottom: -30%;
    left: 50%;
    translate: -50% 0%;
}

#play-game-button:hover {
    background: rgb(100, 0, 67);
    color: rgb(255, 210, 210);
}

#play-game-button:active {
    position: absolute;
    bottom: -31%;
    left: 51%;
    translate: -50% 0%;
}

#how-to-play-button {
    background: rgb(128, 0, 85);
    border-radius: 20%;
    width: 60%;
    color: pink;
    margin: auto;
    padding: 0% 8% 5%;
    position: absolute;
    bottom: -10%;
    left: 50%;
    translate: -50% 0%;
}

#how-to-play-button:hover {
    background: rgb(100, 0, 67);
    color: rgb(255, 210, 210);
}

#how-to-play-button:active {
    position: absolute;
    bottom: -11%;
    left: 51%;
    translate: -50% 0%;
}

#game-over-container {
    height: fit-content;
    position: absolute;
    top: 40%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
}

#game-over-title {
    font-size: 3.5em;
}

#play-again-button {
    background: rgb(128, 0, 85);
    border-radius: 20%;
    width: 60%;
    color: pink;
    margin: auto;
    font-size: 2em;
    padding: 0% 8% 5%;
    position: absolute;
    bottom: -20%;
    left: 50%;
    translate: -50% 0%;
}

#play-again-button:hover {
    background: rgb(100, 0, 67);
    color: rgb(255, 210, 210);
}

#play-again-button:active {
    position: absolute;
    bottom: -21%;
    left: 51%;
    translate: -50% 0%;
}